html, body{
  width:auto;
  height: auto;
  margin:0;
  padding:0; 
  font-family: 'Open Sans', sans-serif;
}
.page{
  width: 80%;
  margin: 0px auto;
  margin-top: 7%;
  overflow: auto;  
}
.ads{
  height: 100%;
}
.adbox{  
  background-color: rgba(95, 95, 95, 0.1);
  border: 1px solid rgb(0, 0, 0, 0.1);
  margin: 0.5%; 
}

.adsimg{
  width: 100%;
  margin: 10px;
}
.adsdesc{
  font-size: small;
  margin-top: 10px;
}
.adtitle a{
  font-size: x-large;
  text-decoration: none;
  color: black;  
}
.adsname{    
  font-size: small; 
  color: gray;
  text-align: end;  
  margin-top: 10px;
}
.adsprice{
  font-size: x-large;
  text-align: end;
}
.animatedButton{
  transition: transform 0.5s ease-in-out;
}
.animatedButton:hover{
  transform: scale(1.05);
  opacity: 1;
}
:required{
  border: 2px solid rgb(180, 0, 0);
}
#searchclear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}